<h1>Derek's simple site</h1>
<h2>About</h2>
<p>Hi, I'm Derek Ellis. I am a software developer with an emphasis on Android development.</p>
<br>
<h2>Resume</h2>
<p>I work as a software engineer creating new devices for the medical industry.</p>
<br>
<h2>Projects</h2>
<h3>georegistry</h3>
<p>georegistry is my geolocation based Android application for the quick processing of user forms at locations</p>
<p>Click this link from an Android device to download and run my application</p>
<b>Be sure to have settings enabled to install apps from unknown sources</b>
<br>
<h4>
  <a href="./assets/downloads/georegistry.apk" download>georegistry</a>
</h4>
